a {
  text-decoration: none;
  color: white;
}

body {
  scroll-behavior: unset;
}
.btn {
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px 13px;
  color: white;
  font-size: 15px;
  background-color: black;
  transition: 0.3s;
  margin: 0 10px;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  background-color: white;
  color: #30a2ff;
}
.btn:hover a {
  color: rgb(0, 0, 0);
}

span {
  color: #30a2ff;
}

hr {
  margin: 65px 0 0;
}

.btn-lg {
  padding: 10px 30px;
  margin: 10px 110px;
  background: rgb(250, 249, 248);
  border: 1px solid rgb(18, 17, 17);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 3px 3px rgb(55, 54, 55);
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.btn-lg:hover {
  transform: scale(1.03);
  transition: 0.2s;
  box-shadow: 5px 5px rgb(16, 15, 15);
}

.card {
  width: 310px;
  height: 500px;
  background-color: #faf9f8;
  border: 1px solid #faf9f8;
  border-radius: 10px;
  box-shadow: 1px 1px 15px black;
  cursor: pointer;
  transition: 0.4s ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 25px black;
}

.mr-lf-60 {
  margin-left: 60px;
}
